ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#grid{
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin-top:20px;
    margin-right: auto;
    margin-left:auto;
}

svg{
    display: block;
    margin: auto;
}

#result{
    text-align: center;
}

#btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius:50%;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    background-color: green;
    color: white;
    font-size: 17px;
}